<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbY4zsmvvvy1GZ4YpJxws97RUNFuCSmlU</string>
	<key>GCM_SENDER_ID</key>
	<string>944716165573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safetyedu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>solution-2024-safety-edu</string>
	<key>STORAGE_BUCKET</key>
	<string>solution-2024-safety-edu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944716165573:ios:39bfcf83985cca8a219bac</string>
</dict>
</plist>